<main id="sobre_mim">
  <h5>SOBRE</h5>
  <p>
    Meu nome é Guilherme Marcos Pereira Gonçalves e estou no início da minha
    carreira profissional, em busca de uma oportunidade que me permita evoluir
    meus conhecimentos e habilidades. Atualmente, sou estudante do 9º período de
    Engenharia de Computação na PUC-Minas, com previsão de conclusão em 2025, e
    possuo dois anos de experiência como Programador Front-End Angular na
    Prodemge.
  </p>

  <p>
    Durante minha experiência na Prodemge, tive a oportunidade de aprender e
    aplicar práticas de desenvolvimento em grupo, com destaque para metodologias
    ágeis como Scrum e Kanban. Ao longo desses dois anos, evoluí como
    profissional e adquiri habilidades técnicas em JavaScript, TypeScript,
    Angular, APIs RESTful, GitHub, Jenkins, e outras tecnologias fundamentais
    para o desenvolvimento de software moderno.
  </p>
  <p>
    Além disso, completei vários cursos online que fortaleceram ainda mais
    minhas competências técnicas. Esses cursos incluem Java, Desenvolvimento
    Web, e Angular, com foco em criação de aplicações web robustas e integração
    com APIs. Também possuo experiência básica em Java/SpringBoot, Python, e
    SQL/MySQL.
  </p>
  <p>
    Acredito que minha dedicação, empenho e capacidade de aprendizado rápido
    podem compensar a pouca experiência em algumas áreas. Estou comprometido em
    contribuir para o sucesso da empresa, trazendo novas perspectivas e
    aplicando meus conhecimentos de forma eficiente e inovadora.
  </p>
</main>
