@import '../../../color-variables.scss';
header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

:host {


  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);



}

h1{
  font-size: 2.5rem;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: $primary-text-color;
  margin: 10px 10px 10px 0px;
}

h5{
  margin: 0;
  color: $secondary-text-color;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.section{
  display: flex;
  flex-direction: column;
}


.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.73rem;
  margin-top: 1.5rem;

}

.social-links path {

  transition: fill 0.3s ease;
  fill: var(--gray-400);

}

.social-links a:hover svg path {
  fill: var(--gray-900);

}

a{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  cursor: pointer;
}


// menu de opções
ul {
  list-style: none;
}

a {
  color: $secondary-text-color;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  position: relative;
  display: block;
  padding: 10px;
}

.menu a svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(90deg) !important;
}

.menu a svg path {
  fill: transparent;
  stroke-width: 2px;
  stroke: currentColor;
  stroke-dasharray: 89.7506103515625;
  stroke-dashoffset: -89.7506103515625;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.29, 0.68, 0.74, 1.02);

}

.menu a:hover svg path {
  stroke-dashoffset: 0;
}

@media (max-width: 667px) {
  .menu{
    display: none;
  }
}
